In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [7]:
df_train.head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [6]:
df_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

# DATA EXPLORATION OF TRAIN DATA

In [8]:
print("Train data has {} rows and {} columns".format(len(df_train),len(df_train.columns)))

Train data has 31962 rows and 3 columns

In [13]:
print("Out of {}, {} are Positive, {} are negative tweets".format(len(df_train),len(df_train[df_train['label']==0]),len(df_train[df_train['label']==1])))

Out of 31962, 29720 are Positive, 2242 are negative tweets

In [14]:
print("Number of null label: {}".format(df_train['label'].isnull().sum()))
print("Number of null tweets: {}".format(df_train['tweet'].isnull().sum()))

Number of null label: 0
Number of null tweets: 0

In [15]:
print("Test data has {} rows and {} columns".format(len(df_test),len(df_test.columns)))

Test data has 17197 rows and 2 columns

In [26]:
print("The Number duplicate entries in train data are: {}".format(len(df_train[df_train.duplicated()])))

The Number duplicate entries in train data are: 0

# DATA EXPLORATION OF TEST DATA

In [28]:
print("Test data has {} rows and {} columns".format(len(df_test),len(df_test.columns)))

Test data has 17197 rows and 2 columns

In [18]:
print("Number of null tweets: {}".format(df_test['tweet'].isnull().sum()))

Number of null tweets: 0

In [27]:
print("The Number duplicate entries in test data are: {}".format(len(df_test[df_test.duplicated()])))

The Number duplicate entries in test data are: 0