In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

# DATA CLEANING OF TRAIN DATA

In [4]:
df_train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

REMOVE PUNCTUATION

In [5]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
def remove_punc(text):
    text_no_punc="".join([char for char in text if char not in string.punctuation])
    return text_no_punc
df_train['removed_punc']=df_train['tweet'].apply(lambda x: remove_punc(x))

In [8]:
df_train.head()

,id,label,tweet,removed_punc
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...
4,5,0,factsguide: society now #motivation,factsguide society now motivation

TOKENIZE TEXT

In [12]:
import re

In [13]:
def tokenize(text):
    tokens=re.split('\W+',text)
    return tokens
df_train['tokenized_tweet']=df_train['removed_punc'].apply(lambda x: tokenize(x.lower()))

In [14]:
df_train.head()

,id,label,tweet,removed_punc,tokenized_tweet
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can..."
2,3,0,bihday your majesty,bihday your majesty,"[, bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, i, love, u, take, with, u, all, the, t..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, motivation]"

REMOVE STOPWORDS

In [15]:
import nltk
stopwords = nltk.corpus.stopwords.words('english')

In [17]:
def remove_stopwords(text):
    text_no_stopwords = [word for word in text if word not in stopwords]
    return text_no_stopwords
df_train['no_stopwords_tweet']=df_train['tokenized_tweet'].apply(lambda x: remove_stopwords(x))

In [18]:
df_train.head()

,id,label,tweet,removed_punc,tokenized_tweet,no_stopwords_tweet
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a...","[, user, father, dysfunctional, selfish, drags..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can...","[user, user, thanks, lyft, credit, cant, use, ..."
2,3,0,bihday your majesty,bihday your majesty,"[, bihday, your, majesty]","[, bihday, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, i, love, u, take, with, u, all, the, t...","[model, love, u, take, u, time, urð, ð, ð, ð, ..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, motivation]","[, factsguide, society, motivation]"

LEMMATIZING

In [24]:
import nltk
wn=nltk.WordNetLemmatizer()

In [27]:
def lemmatize(text):
    text_lem = [wn.lemmatize(word) for word in text]
    return text_lem
df_train['lemmatized_text']=df_train['no_stopwords_tweet'].apply(lambda x: lemmatize(x))

In [28]:
df_train.head()

,id,label,tweet,removed_punc,tokenized_tweet,no_stopwords_tweet,lemmatized_text
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a...","[, user, father, dysfunctional, selfish, drags...","[, user, father, dysfunctional, selfish, drag,..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can...","[user, user, thanks, lyft, credit, cant, use, ...","[user, user, thanks, lyft, credit, cant, use, ..."
2,3,0,bihday your majesty,bihday your majesty,"[, bihday, your, majesty]","[, bihday, majesty]","[, bihday, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, i, love, u, take, with, u, all, the, t...","[model, love, u, take, u, time, urð, ð, ð, ð, ...","[model, love, u, take, u, time, urð, ð, ð, ð, ..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, motivation]","[, factsguide, society, motivation]","[, factsguide, society, motivation]"

In [32]:
df_train.drop(['id','tweet','removed_punc','tokenized_tweet','no_stopwords_tweet'],axis=1,inplace=True)

In [35]:
df_train

       label                                    lemmatized_text
0          0  [, user, father, dysfunctional, selfish, drag,...
1          0  [user, user, thanks, lyft, credit, cant, use, ...
2          0                                [, bihday, majesty]
3          0  [model, love, u, take, u, time, urð, ð, ð, ð, ...
4          0                [, factsguide, society, motivation]
...      ...                                                ...
31957      0  [ate, user, isz, youuuð, ð, ð, ð, ð, ð, ð, ð, ...
31958      0  [, see, nina, turner, airwave, trying, wrap, m...
31959      0  [listening, sad, song, monday, morning, otw, w...
31960      1  [user, sikh, temple, vandalised, calgary, wso,...
31961      0                            [thank, user, follow, ]

[31962 rows x 2 columns]

In [39]:
df_train.rename({'lemmatized_text':'cleaned_tweet'},axis=1)

       label                                      cleaned_tweet
0          0  [, user, father, dysfunctional, selfish, drag,...
1          0  [user, user, thanks, lyft, credit, cant, use, ...
2          0                                [, bihday, majesty]
3          0  [model, love, u, take, u, time, urð, ð, ð, ð, ...
4          0                [, factsguide, society, motivation]
...      ...                                                ...
31957      0  [ate, user, isz, youuuð, ð, ð, ð, ð, ð, ð, ð, ...
31958      0  [, see, nina, turner, airwave, trying, wrap, m...
31959      0  [listening, sad, song, monday, morning, otw, w...
31960      1  [user, sikh, temple, vandalised, calgary, wso,...
31961      0                            [thank, user, follow, ]

[31962 rows x 2 columns]

# DATA CLEANING OF TEST DATA

In [40]:
df_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

REMOVE PUNCTUATION

In [41]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [42]:
def remove_punc(text):
    text_no_punc="".join([char for char in text if char not in string.punctuation])
    return text_no_punc
df_test['removed_punc']=df_test['tweet'].apply(lambda x: remove_punc(x))

In [43]:
df_test.head()

,id,tweet,removed_punc
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to see ...
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",3rd bihday to my amazing hilarious nephew el...

TOKENIZE TEXT

In [44]:
import re

In [45]:
def tokenize(text):
    tokens=re.split('\W+',text)
    return tokens
df_test['tokenized_tweet']=df_test['removed_punc'].apply(lambda x: tokenize(x.lower()))

In [46]:
df_test.head()

,id,tweet,removed_punc,tokenized_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...,"[studiolife, aislife, requires, passion, dedic..."
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to see ...,"[, user, white, supremacists, want, everyone, ..."
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...,"[safe, ways, to, heal, your, acne, altwaystohe..."
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,"[is, the, hp, and, the, cursed, child, book, u..."
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",3rd bihday to my amazing hilarious nephew el...,"[, 3rd, bihday, to, my, amazing, hilarious, ne..."

REMOVE STOPWORDS

In [47]:
import nltk
stopwords = nltk.corpus.stopwords.words('english')

In [48]:
def remove_stopwords(text):
    text_no_stopwords = [word for word in text if word not in stopwords]
    return text_no_stopwords
df_test['no_stopwords_tweet']=df_test['tokenized_tweet'].apply(lambda x: remove_stopwords(x))

In [49]:
df_test

,id,tweet,removed_punc,tokenized_tweet,no_stopwords_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...,"[studiolife, aislife, requires, passion, dedic...","[studiolife, aislife, requires, passion, dedic..."
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to see ...,"[, user, white, supremacists, want, everyone, ...","[, user, white, supremacists, want, everyone, ..."
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...,"[safe, ways, to, heal, your, acne, altwaystohe...","[safe, ways, heal, acne, altwaystoheal, health..."
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,"[is, the, hp, and, the, cursed, child, book, u...","[hp, cursed, child, book, reservations, alread..."
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",3rd bihday to my amazing hilarious nephew el...,"[, 3rd, bihday, to, my, amazing, hilarious, ne...","[, 3rd, bihday, amazing, hilarious, nephew, el..."
...,...,...,...,...,...
17192,49155,thought factory: left-right polarisation! #tru...,thought factory leftright polarisation trump u...,"[thought, factory, leftright, polarisation, tr...","[thought, factory, leftright, polarisation, tr..."
17193,49156,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð hairflip neverread...,"[feeling, like, a, mermaid, ð, hairflip, never...","[feeling, like, mermaid, ð, hairflip, neverrea..."
17194,49157,#hillary #campaigned today in #ohio((omg)) &am...,hillary campaigned today in ohioomg amp used w...,"[hillary, campaigned, today, in, ohioomg, amp,...","[hillary, campaigned, today, ohioomg, amp, use..."
17195,49158,"happy, at work conference: right mindset leads...",happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead..."
17196,49159,"my song ""so glad"" free download! #shoegaze ...",my song so glad free download shoegaze newm...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi..."

TOKENIZE TEXT

In [50]:
import re

In [51]:
def tokenize(text):
    tokens=re.split('\W+',text)
    return tokens
df_test['tokenized_tweet']=df_test['removed_punc'].apply(lambda x: tokenize(x.lower()))

In [52]:
df_test.head()

,id,tweet,removed_punc,tokenized_tweet,no_stopwords_tweet
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...,"[studiolife, aislife, requires, passion, dedic...","[studiolife, aislife, requires, passion, dedic..."
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to see ...,"[, user, white, supremacists, want, everyone, ...","[, user, white, supremacists, want, everyone, ..."
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...,"[safe, ways, to, heal, your, acne, altwaystohe...","[safe, ways, heal, acne, altwaystoheal, health..."
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,"[is, the, hp, and, the, cursed, child, book, u...","[hp, cursed, child, book, reservations, alread..."
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",3rd bihday to my amazing hilarious nephew el...,"[, 3rd, bihday, to, my, amazing, hilarious, ne...","[, 3rd, bihday, amazing, hilarious, nephew, el..."

LEMMATIZING

In [53]:
import nltk
wn=nltk.WordNetLemmatizer()

In [54]:
def lemmatize(text):
    text_lem = [wn.lemmatize(word) for word in text]
    return text_lem
df_test['lemmatized_text']=df_test['no_stopwords_tweet'].apply(lambda x: lemmatize(x))

In [55]:
df_test.head()

,id,tweet,removed_punc,tokenized_tweet,no_stopwords_tweet,lemmatized_text
0,31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife requires passion dedication...,"[studiolife, aislife, requires, passion, dedic...","[studiolife, aislife, requires, passion, dedic...","[studiolife, aislife, requires, passion, dedic..."
1,31964,@user #white #supremacists want everyone to s...,user white supremacists want everyone to see ...,"[, user, white, supremacists, want, everyone, ...","[, user, white, supremacists, want, everyone, ...","[, user, white, supremacist, want, everyone, s..."
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe ways to heal your acne altwaystoheal h...,"[safe, ways, to, heal, your, acne, altwaystohe...","[safe, ways, heal, acne, altwaystoheal, health...","[safe, way, heal, acne, altwaystoheal, healthy..."
3,31966,is the hp and the cursed child book up for res...,is the hp and the cursed child book up for res...,"[is, the, hp, and, the, cursed, child, book, u...","[hp, cursed, child, book, reservations, alread...","[hp, cursed, child, book, reservation, already..."
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",3rd bihday to my amazing hilarious nephew el...,"[, 3rd, bihday, to, my, amazing, hilarious, ne...","[, 3rd, bihday, amazing, hilarious, nephew, el...","[, 3rd, bihday, amazing, hilarious, nephew, el..."

In [56]:
df_test.drop(['id','tweet','removed_punc','tokenized_tweet','no_stopwords_tweet'],axis=1,inplace=True)

In [57]:
df_test.head()

                                     lemmatized_text
0  [studiolife, aislife, requires, passion, dedic...
1  [, user, white, supremacist, want, everyone, s...
2  [safe, way, heal, acne, altwaystoheal, healthy...
3  [hp, cursed, child, book, reservation, already...
4  [, 3rd, bihday, amazing, hilarious, nephew, el...

In [58]:
df_test.rename({'lemmatized_text':'cleaned_tweet'},axis=1)

                                           cleaned_tweet
0      [studiolife, aislife, requires, passion, dedic...
1      [, user, white, supremacist, want, everyone, s...
2      [safe, way, heal, acne, altwaystoheal, healthy...
3      [hp, cursed, child, book, reservation, already...
4      [, 3rd, bihday, amazing, hilarious, nephew, el...
...                                                  ...
17192  [thought, factory, leftright, polarisation, tr...
17193  [feeling, like, mermaid, ð, hairflip, neverrea...
17194  [hillary, campaigned, today, ohioomg, amp, use...
17195  [happy, work, conference, right, mindset, lead...
17196  [song, glad, free, download, shoegaze, newmusi...

[17197 rows x 1 columns]